
.main {
  text-align: center;
  margin-top: 50px;
}

.inputBox {
  margin-top: 10px;
  background-color: #f8f8f8;
  width: 37%;
  padding: 6px 12px;
  border: none;
  border-bottom: 2px solid grey;
  height: 50px;
  /* focus: "none", */
}
.inputBox :focus {
  outline: none;
}
::placeholder {
  color: rgba(0, 0, 0, 0.644);
  font-family: Verdana;
  font-weight: 500;
  opacity: 1;
}
.btn {
  background-color: #1da1f2;
  margin-top: 10px;
  color: white;
  width: 39%;
  padding: 6px 12px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  height: 50px;
}
.footer {
  color: #1da1f2;
  margin-top: 10px;
  font-family: Verdana;
  font-size: 14px;
}
.footer a {
  color: #1da1f2;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.inputBox {
  margin-top: 10px;
  background-color: #f8f8f8;
  width: 37%;
  padding: 6px 12px;
  border: none;
  border-bottom: 2px solid grey;
  height: 50px;
  /* focus: "none", */
}
.inputBox :focus {
  outline: none;
}
::placeholder {
  color: rgba(0, 0, 0, 0.644);
  font-family: Verdana;
  font-weight: 500;
  opacity: 1;
}
.btn {
  background-color: #1da1f2;
  margin-top: 10px;
  color: white;
  width: 39%;
  padding: 6px 12px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  height: 50px;
}
.footer {
  color: #1da1f2;
  margin-top: 10px;
  font-family: Verdana;
  font-size: 14px;
}
.footer a {
  color: #1da1f2;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}