.feed {
    flex: 0.5;
    border-right:1px solid var( --twitter-background );
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background );
    padding: 0px 10px;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
    
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tweet_wrapper {
    border: 1px solid var(--twitter-background);
    margin: 10px;
    border-radius: 10px;
}

.name {
    padding-top: 10px;
    margin: 5px;
}

.username {
    padding-top: 10px;
    margin: 5px;
    color: rgb(194, 191, 191);
}

.tweets {
    margin: 10px;
}

.posted_img {
    width: 500px;
    height: 400px;
}

.redButton {
    color: red;
}

.whiteButton {
    color: grey;
}

.icons {
    margin: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 0.5px solid var(--twitter-background);
}
.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetBox > form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetBox__input {
    padding: 20px;
    display: flex;
  }
  
  .tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
  }
  
  .tweetBox__imageInput {
    border: none;
    padding: 10px;
  }
  
  .tweetBox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }