.profile{
    margin-top: -70px;
    margin-left: 10px;

}

.email{
    margin-top: -20px;
}

.location{
    display: flex;
}

.location > * {
    margin-right: 5px;
}

.tweet{
    display:flex;
    padding: 10px;
}

.tweet > * {
    padding: 5px;
}