.flex{
    display: flex;
}
​
.card{
    width: 300px;
    border: 1px solid grey;
    height: 90px;

}
.card > * {
    padding: 5px;
}
.flex {
    flex: 1;
}
​
.covid{
    border: 1px solid rgb(238, 237, 237);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
​
.covid > * > * {
    margin: 10px;
}
​
.container {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
}
​
.bottom_left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
​
.left{
    margin-left: -40px;
}