html {
  font-size: 92.5%;
  box-sizing: border-box;
}

body {
  margin: 0%;
  font: 1rem helvetica;
  height: 100%;
}

.box {
  display: grid;
  width: 100%;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 12px 12px;
}

/* Sidebar_Area */
.sidebarArea {
  width: 350px;
  height: 40rem;
  display: grid;
  justify-content: center;
}
.sidebar_Area > div {
  margin-top: 15px;
}
/* Main_Area */
/* .Main_Area {
  width: 50%;
  display: grid;
  height: 40rem;
  border: 1px solid black;
}

/* Left_Sidebar_Area */
/* .Left_Sidebar_Area {
  width: 30%;
  height: 40rem;
  display: grid;
  border: 1px solid black;
} */
.icons {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1da1f2;
  /* text-decoration: none; */
  /* margin-right: 20px; */
  /* padding: 10px; */
}
.navlink {
  color: #1da1f2;
  text-decoration: none;
  margin: 0 12px;
}
.navlink :hover {
  color: red;
}
.icons > div {
  margin: 0 12px;
}
.icons :hover {
  color: red;
}
.btn {
  background-color: #1da1f2;
  color: white;
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  height: 40px;
}

/* .sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
} */
