.wrapper {
    display: flex;
}

.left {
    height: 528px;
}

.left > img {
    height: 528px;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: flex-start;
}

.rightWrapper > div {
    text-align: left;
}

.rightWrapper {
    display: flex;
    align-items: center;
}

.signinBtn {
    width: 400px;
    height: 39px;
    cursor: pointer;
    border-radius: 50px;
    border: transparent;
    outline: none;
    background-color: #08a0e9;
    color: white;
    font-weight: 700;

}
.loginBtn {
    margin-top: 20px;
    width: 400px;
    height: 39px;
    cursor: pointer;
    border-radius: 50px;
    border: 0.5px solid  #08a0e9;
    outline: none;
    background-color: white;
    color:  #08a0e9;
    font-weight: 700;

}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    color: rgb(150, 145, 145);
}

.copyRight {
    font-size: 13px;
    color: rgb(150, 145, 145);
    display: flex;
    justify-content: center;
}

